= link_to '/#experience' do
  %h2#experience Experience

%h3 CTO
%p
  Automobiles IT Solutions OÜ
  %br
  June 2016 - present
  %br
  Key responsibilities:
  %br
  \- Help developent team to build Autobahn - new generation vehicle management platform
  %br
  \- Deliver quality product to customers and stakeholders - vehicle importers and dealer networks
  %br
  \- Advise business and the development team
  %br
  \- Ensure product quality, security and scalability
  %br
  \- Ensure infrastructure security and scalability
  %br
  \- Ensure system reliability, data and logs integrity

%h3 Senior Software Developer
%p
  Folkefinans AS
  %br
  March 2015 - June 2016
  %br
  Software development of in-house products. Consumer lending in Scandinavian countries.

%h3 Software Developer
%p
  Desk Rock OÜ
  %br
  May 2013 - March 2015
  %br
  Software development for tech startup companies from Estonia and Finland.
  Software development for financing companies, competence in consumer lending,
  hire purchase, banking.
  Lead developer in number of consultancy projects.
