= link_to '/#experience' do
  %h2#experience Experience

%h3 CTO
%p
  EZY Gaming
  %br
  April 2018 - present
  %br
  %br
  I joined EZY Gaming to build the betting and casino platform for our primary brand
  = link_to 'arcanebet.com', 'https://arcanebet.com', target: :blank
  from scratch, deliver it to production and migrate the existing operations from the whitelabel platform that was in use at that point. We successfully managed to build and deliver our own platform within reasonable budget. It is now running in production as a core of our business.
  %br
  %br
  Apart from building and shipping the product itself my primary goal is to support seamless business operations, rapid product growth and scale and keeping competitive edge with modern technology.
  %br
  %br
  Among my key responsibilities are:
  %br
  \- Build and design, then lead and support autonomous cross-discipline engineering and delivery teams
  %br
  \- Ensure product updates are delivered on schedule and in high quality
  %br
  \- Ensure all the business and product needs are met in a most reasonable way possible
  %br
  \- Establish and manage IT operations and processes
  %br
  \- Ensure all company’s systems comply with high security standards
  %br
  \- Build and maintain highly scalable cloud infrastructure that supports business operations and growth

%h3 CTO
%p
  Automobiles IT Solutions OÜ
  %br
  June 2016 - April 2018
  %br
  %br
  Key responsibilities:
  %br
  \- Help developent team to build Autobahn - new generation vehicle management platform
  %br
  \- Deliver quality product to customers and stakeholders - vehicle importers and dealer networks
  %br
  \- Advise business and the development team
  %br
  \- Ensure product quality, security and scalability
  %br
  \- Ensure infrastructure security and scalability
  %br
  \- Ensure system reliability, data and logs integrity

%h3 Senior Software Engineer
%p
  Folkefinans AS
  %br
  March 2015 - June 2016
  %br
  %br
  Software development of in-house products. Consumer lending in Scandinavian countries.

%h3 Software Engineer
%p
  Desk Rock OÜ
  %br
  May 2013 - March 2015
  %br
  %br
  Software development for tech startup companies from Estonia and Finland.
  Software development for financing companies, competence in consumer lending,
  hire purchase, banking.
  Lead developer in number of consultancy projects.
