= link_to '/#experience' do
  %h2#experience Experience

%h3 Senior Software Developer
%p
  Folkefinans AS
  %br
  March 2015 - present

%h3 Software Developer
%p
  Desk Rock OÜ
  %br
  May 2013 - March 2015
