= link_to '/#projects' do
  %h2#projects Projects

%h3 Autobahn

%p Multi-tenant full cycle car service management system. Keeps track of employees, equipment, customers, vehicles, jobs and spare parts. Features spare parts import API and automatic job scheduling based on available assets and customer preferences.

%p
  %strong Role in project:
  Lead developer

%p
  %strong Technology:
  %span.label.label-info Ruby on Rails
  %span.label.label-info Postgres
  %span.label.label-info Redis
  %span.label.label-info Sidekiq

%h3 Smartifier

%p Bluetooth low energy sensors data storage and management system. Visualises aggregated data and provides valuable information for the user based on it. Allows different brands to manage and market their profiles within the system.

%p
  %strong Role in project:
  Lead developer

%p
  %strong Technology:
  %span.label.label-info Ruby on Rails
  %span.label.label-info Postgres

%h3 Funderbeam

%p Funderbeam aggregates and analyses data about startups and investors. It provides startups relevant information about possible interested investors and competition. And Startup investors can get business intelligence data about companies they're interested in.

%p
  %strong Role in project:
  Application prototype lead developer

%p
  %strong Technology:
  %span.label.label-info Ruby on Rails
  %span.label.label-info Postgres

%h3 Lendify

%p Loan and hire purchase issuing and full cycle management multi-tenant system. Used in Krediidipank, InBank and Cofi AS.

%p
  %strong Role in project:
  Software developer

%p
  %strong Technology:
  %span.label.label-info Ruby on Rails
  %span.label.label-info Postgres
  %span.label.label-info Redis
  %span.label.label-info Sidekiq

%h3 Guardian

%p An internal system for aggregating customer data and studying customer behavioural patterns, identifying and preventing fraud and other threads.

%p
  %strong Role in project:
  Software developer

%p
  %strong Technology:
  %span.label.label-info Node.js
  %span.label.label-info Express
  %span.label.label-info Sequelize
