%p
  %i.fa.fa-lg.fa-fw.fa-users
  &emsp;
  Senior Software Developer at Folkefinans AS
%p
  %i.fa.fa-lg.fa-fw.fa-graduation-cap
  &emsp;
  Estonian Information Technology College, IT Systems Development
%p
  %i.fa.fa-lg.fa-fw.fa-map-marker
  &emsp;
  Tallinn, Estonia
%p
  %i.fa.fa-lg.fa-fw.fa-github
  &emsp;
  = link_to :badmanski, '//github.com/badmanski'
%p
  %i.fa.fa-lg.fa-fw.fa-code
  &emsp;
  %span.label.label-info Ruby
  %span.label.label-info Ruby on Rails
  %span.label.label-info Javascript
