%p
  %i.fa.fa-lg.fa-fw.fa-users
  &emsp;
  CTO at Autobahn Technologies
%p
  %i.fa.fa-lg.fa-fw.fa-graduation-cap
  &emsp;
  Estonian Information Technology College, IT Systems Development
%p
  %i.fa.fa-lg.fa-fw.fa-map-marker
  &emsp;
  Tallinn, Estonia
%p
  %i.fa.fa-lg.fa-fw.fa-github
  &emsp;
  = link_to :badmanski, '//github.com/badmanski'
%p
  %i.fa.fa-lg.fa-fw.fa-linkedin
  &emsp;
  = link_to 'Stanislav Gorski', '//ee.linkedin.com/in/stanislav-gorski-1b5b5b55'
%p
  %i.fa.fa-lg.fa-fw.fa-code
  &emsp;
  %span.label.label-info Ruby
  %span.label.label-info Ruby on Rails
  %span.label.label-info Javascript
  %span.label.label-info Docker
  %span.label.label-info AWS

= link_to '/#summary' do
  %h2#summary Summary

%p
  CTO at Autobahn. With a software engineer background.

%p
  Good at Ruby, Javascript (both server and client) and building reliable systems in general.
  Can build a secure and scalable infrastructure in AWS cloud.
  Good at understanding and communicating business problems and requirements.
  Work well with people and systems.
