%p
  %i.fa.fa-lg.fa-fw.fa-users
  &emsp;
  CTO at EZY Gaming
%p
  %i.fa.fa-lg.fa-fw.fa-graduation-cap
  &emsp;
  Estonian Information Technology College, IT Systems Development
%p
  %i.fa.fa-lg.fa-fw.fa-map-marker
  &emsp;
  Tallinn, Estonia
%p
  %i.fa.fa-lg.fa-fw.fa-linkedin
  &emsp;
  = link_to 'Stanislav Gorski', 'https://www.linkedin.com/in/stanislav-gorski-1b5b5b55'
%p
  %i.fa.fa-lg.fa-fw.fa-github
  &emsp;
  = link_to :badmanski, 'https://github.com/badmanski'
%p
  %i.fa.fa-lg.fa-fw.fa-code
  &emsp;
  %span.label.label-info Leadership
  %span.label.label-info Ruby
  %span.label.label-info Javascript
  %span.label.label-info Docker
  %span.label.label-info AWS

= link_to '/#summary' do
  %h2#summary Summary

%p
  Passionate leader with a strong software engineering background. I support business needs with the use of team work and technology.

%p
  \- Build highly competent and efficient teams in engineerings
  %br
  \- Turn high level business requirements into quality products and services that are easy to scale, extend and maintain
  %br
  \- Set up development processes and IT operations
  %br
  \- Set up scalable cloud infrastructure to support business growth
