%script#user-list-template{ type: 'text/template' }
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Email
    %tbody
      <% _.each(users, function(user) { %>
      %tr
        %td <%= user.get('name') %>
        %td <%= user.get('email') %>
      <% });%>
