%h1.page-header Welcome to Sandbox
.row
  .col-md-6.col-md-offset-3
    .form-group
      %input.form-control{ tyle: 'text', 'rv-value' => 'val' }
    .form-group
      %input.form-control{ tyle: 'text', 'rv-value' => 'val' }

- content_for :title, 'Welcome to Sandbox'

- content_for :javascript do
  = javascript_include_tag 'rivets.min', 'app'
