%h1.page-header Sorry, we're on a scheduled maintenance. Please come back in couple hours. :(

- content_for :title, 'Welcome to Sandbox'

- content_for :javascript do
  = javascript_include_tag 'app'
