%h1.page-header Users

.row
  .col-md-6#list

= partial 'templates'

- content_for :title, 'Welcome to Sandbox'

- content_for :javascript do
  = javascript_include_tag 'router', 'views/users/list', 'app'
